{
  "openapi": "3.1.0",
  "info": {
    "title": "Slimlytics API",
    "version": "1.0.0",
    "description": "Account, personal API token, site configuration, privacy-preserving collection, reporting, goals, export, and real-time APIs for Slimlytics.\n\nUse a short-lived session JWT for creating personal API tokens. Use a `slyt_\u2026` personal API token for durable CLI and agent access. Both use `Authorization: Bearer <token>`. Collection write keys authorize ingestion only.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://slimlytics.com",
      "description": "Slimlytics Cloud"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Health, readiness, and machine-readable documentation."
    },
    {
      "name": "Authentication",
      "description": "Password-authenticated registration and short-lived sessions."
    },
    {
      "name": "Account",
      "description": "Current account identity."
    },
    {
      "name": "API tokens",
      "description": "Expiring, revocable personal API tokens for CLI and agent access."
    },
    {
      "name": "Sites",
      "description": "Site lifecycle, canonical domains, collection keys, and settings."
    },
    {
      "name": "Tracking setup",
      "description": "First-party JavaScript and reverse-proxy configuration."
    },
    {
      "name": "Collection",
      "description": "Privacy-preserving browser event ingestion."
    },
    {
      "name": "Reporting",
      "description": "Account-authorized analytics, visitors, events, and exports."
    },
    {
      "name": "Goals",
      "description": "Event and path-pattern conversion goals."
    },
    {
      "name": "Real time",
      "description": "Short-lived-session-authenticated server-sent events."
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Process liveness",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Backend process is alive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/ready": {
      "get": {
        "tags": [
          "System"
        ],
        "summary": "Database readiness",
        "operationId": "getReadiness",
        "responses": {
          "200": {
            "description": "Backend and PostgreSQL are ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": []
      }
    },
    "/api/mcp": {
      "post": {
        "tags": ["Reporting"],
        "summary": "Call the Slimlytics MCP server",
        "description": "Stateless Streamable HTTP MCP endpoint using JSON-RPC 2.0 and the stable 2025-11-25 protocol revision. Personal API tokens are restricted by scope and calls are audited.",
        "operationId": "mcp",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": {"const": "2.0"},
                  "id": {},
                  "method": {"type": "string"},
                  "params": {"type": "object"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {"description": "JSON-RPC response or MCP tool result"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Register an account",
        "operationId": "registerAccount",
        "responses": {
          "201": {
            "description": "Account created; returns a short-lived session JWT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Create a session",
        "operationId": "login",
        "responses": {
          "200": {
            "description": "Authenticated; returns a short-lived session JWT",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get current account",
        "operationId": "getCurrentAccount",
        "responses": {
          "200": {
            "description": "Current account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/account/tokens": {
      "get": {
        "tags": [
          "API tokens"
        ],
        "summary": "List active personal API tokens",
        "operationId": "listApiTokens",
        "responses": {
          "200": {
            "description": "Active, unexpired token metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiTokenSummary"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Never returns token secrets.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "API tokens"
        ],
        "summary": "Create a personal API token",
        "operationId": "createApiToken",
        "responses": {
          "201": {
            "description": "Token created; secret is returned exactly once",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiTokenCreated"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Requires a short-lived session JWT. A personal API token cannot mint another token.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApiTokenInput"
              }
            }
          }
        }
      }
    },
    "/api/account/tokens/current": {
      "delete": {
        "tags": [
          "API tokens"
        ],
        "summary": "Revoke the authenticating personal token",
        "operationId": "revokeCurrentApiToken",
        "responses": {
          "204": {
            "description": "Current personal API token revoked"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Identifies the exact bearer credential. Session JWTs cannot be revoked through this endpoint.",
        "security": [
          {
            "bearerAuth": []
          }
        ]
      }
    },
    "/api/account/tokens/{tokenId}": {
      "delete": {
        "tags": [
          "API tokens"
        ],
        "summary": "Revoke a personal API token by ID",
        "operationId": "revokeApiToken",
        "responses": {
          "204": {
            "description": "Token revoked"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "tokenId",
            "in": "path",
            "required": true,
            "description": "Personal API token UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "List sites",
        "operationId": "listSites",
        "responses": {
          "200": {
            "description": "Sites owned by the current account",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Site"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ]
      },
      "post": {
        "tags": [
          "Sites"
        ],
        "summary": "Create a site",
        "operationId": "createSite",
        "responses": {
          "201": {
            "description": "Site created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Domains are canonicalized and globally unique.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInput"
              }
            }
          }
        }
      }
    },
    "/api/sites/ensure": {
      "post": {
        "tags": [
          "Sites"
        ],
        "summary": "Atomically ensure a site exists",
        "operationId": "ensureSite",
        "responses": {
          "200": {
            "description": "Existing site reused",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnsureSiteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "201": {
            "description": "New site created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnsureSiteResponse"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Idempotent agent operation backed by a transaction and global canonical-domain uniqueness.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInput"
              }
            }
          }
        }
      }
    },
    "/api/sites/{siteId}": {
      "get": {
        "tags": [
          "Sites"
        ],
        "summary": "Get a site",
        "operationId": "getSite",
        "responses": {
          "200": {
            "description": "Site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "Sites"
        ],
        "summary": "Replace site settings",
        "operationId": "updateSite",
        "responses": {
          "200": {
            "description": "Updated site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SiteInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "Sites"
        ],
        "summary": "Delete a site",
        "operationId": "deleteSite",
        "responses": {
          "204": {
            "description": "Site deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/rotate-key": {
      "post": {
        "tags": [
          "Sites"
        ],
        "summary": "Rotate the collection write key",
        "operationId": "rotateSiteWriteKey",
        "responses": {
          "200": {
            "description": "Site with new collection key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WriteKeyResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Immediately invalidates the prior collection key.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/anti-adblock": {
      "put": {
        "tags": [
          "Tracking setup"
        ],
        "summary": "Configure first-party tracking paths",
        "operationId": "updateAntiAdblock",
        "responses": {
          "200": {
            "description": "Updated site",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Site"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AntiAdblockInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/collection-health": {
      "get": {
        "tags": [
          "Tracking setup"
        ],
        "summary": "Get collection health",
        "description": "Returns accepted and rejected collection counters plus the most recent tracker activity for operational and agent diagnostics.",
        "operationId": "getCollectionHealth",
        "responses": {
          "200": {
            "description": "Collection health",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionHealth"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/overview": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Get overview metrics",
        "operationId": "getOverview",
        "responses": {
          "200": {
            "description": "Current and previous-period metrics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Overview"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive first date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive last date"
          }
        ]
      }
    },
    "/api/sites/{siteId}/reports/{dimension}": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Get a dimension report",
        "operationId": "getReport",
        "responses": {
          "200": {
            "description": "Report rows",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ReportRow"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "dimension",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "pages",
                "referrers",
                "countries",
                "devices",
                "campaigns"
              ]
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive first date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive last date"
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 500,
              "default": 100
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/insights/journeys": {
      "get": {
        "tags": ["Reporting"],
        "summary": "List common session journeys",
        "operationId": "getCommonJourneys",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"},
          {"$ref": "#/components/parameters/Limit"}
        ],
        "responses": {
          "200": {"description": "Ordered page paths with session and visitor counts"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/insights/attribution": {
      "get": {
        "tags": ["Reporting"],
        "summary": "Get first-touch campaign attribution",
        "operationId": "getAttribution",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"},
          {"$ref": "#/components/parameters/Limit"}
        ],
        "responses": {
          "200": {"description": "Campaign visitors, conversions, and revenue"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/insights/anomalies": {
      "get": {
        "tags": ["Reporting"],
        "summary": "Detect page-view anomalies",
        "operationId": "getAnomalies",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"}
        ],
        "responses": {
          "200": {"description": "Days at least 30 percent above or below the trailing baseline"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/annotations": {
      "get": {
        "tags": ["Reporting"],
        "summary": "List timeline annotations",
        "operationId": "listAnnotations",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"}
        ],
        "responses": {
          "200": {"description": "Annotations in the requested date range"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      },
      "post": {
        "tags": ["Reporting"],
        "summary": "Create a timeline annotation",
        "operationId": "createAnnotation",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["occurredOn", "label"],
                "properties": {
                  "occurredOn": {"type": "string", "format": "date"},
                  "label": {"type": "string", "maxLength": 240}
                }
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Annotation created"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/annotations/{annotationId}": {
      "delete": {
        "tags": ["Reporting"],
        "summary": "Delete a timeline annotation",
        "operationId": "deleteAnnotation",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {
            "name": "annotationId",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "204": {"description": "Annotation deleted"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/funnels": {
      "get": {
        "tags": ["Reporting"],
        "summary": "List conversion funnels",
        "operationId": "listFunnels",
        "parameters": [{"$ref": "#/components/parameters/SiteId"}],
        "responses": {
          "200": {"description": "Configured conversion funnels"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      },
      "post": {
        "tags": ["Reporting"],
        "summary": "Create a conversion funnel",
        "operationId": "createFunnel",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/IdempotencyKey"}
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "steps"],
                "properties": {
                  "name": {"type": "string", "maxLength": 120},
                  "steps": {
                    "type": "array",
                    "minItems": 2,
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "required": ["label"],
                      "properties": {
                        "label": {"type": "string"},
                        "eventName": {"type": "string"},
                        "path": {"type": "string"}
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {"description": "Funnel created"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/funnels/{funnelId}": {
      "delete": {
        "tags": ["Reporting"],
        "summary": "Delete a conversion funnel",
        "operationId": "deleteFunnel",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {
            "name": "funnelId",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          }
        ],
        "responses": {
          "204": {"description": "Funnel deleted"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/funnels/{funnelId}/report": {
      "get": {
        "tags": ["Reporting"],
        "summary": "Calculate a sequential funnel report",
        "operationId": "getFunnelReport",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {
            "name": "funnelId",
            "in": "path",
            "required": true,
            "schema": {"type": "string", "format": "uuid"}
          },
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"}
        ],
        "responses": {
          "200": {"description": "Ordered step reach and conversion rates"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/integrations/search-console": {
      "get": {
        "tags": ["Reporting"],
        "summary": "Get Search Console connection status",
        "operationId": "getSearchConsoleStatus",
        "parameters": [{"$ref": "#/components/parameters/SiteId"}],
        "responses": {
          "200": {"description": "Configuration, connection, property, and sync status"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      },
      "delete": {
        "tags": ["Reporting"],
        "summary": "Disconnect Search Console and delete cached search metrics",
        "operationId": "disconnectSearchConsole",
        "parameters": [{"$ref": "#/components/parameters/SiteId"}],
        "responses": {
          "204": {"description": "Search Console disconnected"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/integrations/search-console/connect": {
      "post": {
        "tags": ["Reporting"],
        "summary": "Start Search Console OAuth",
        "operationId": "connectSearchConsole",
        "parameters": [{"$ref": "#/components/parameters/SiteId"}],
        "responses": {
          "200": {"description": "Google authorization URL with short-lived state"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/integrations/search-console/sync": {
      "post": {
        "tags": ["Reporting"],
        "summary": "Sync dated Search Console metrics",
        "operationId": "syncSearchConsole",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"}
        ],
        "responses": {
          "200": {"description": "Sync result and cached row count"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "403": {"$ref": "#/components/responses/Forbidden"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/sites/{siteId}/reports/search-console": {
      "get": {
        "tags": ["Reporting"],
        "summary": "Report cached organic search performance",
        "operationId": "getSearchConsoleReport",
        "parameters": [
          {"$ref": "#/components/parameters/SiteId"},
          {"$ref": "#/components/parameters/FromDate"},
          {"$ref": "#/components/parameters/ToDate"},
          {
            "name": "dimension",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["query", "page", "country", "device", "date"],
              "default": "query"
            }
          },
          {"$ref": "#/components/parameters/Limit"}
        ],
        "responses": {
          "200": {"description": "Clicks, impressions, CTR, and weighted position"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "401": {"$ref": "#/components/responses/Unauthorized"},
          "404": {"$ref": "#/components/responses/NotFound"},
          "500": {"$ref": "#/components/responses/InternalError"}
        }
      }
    },
    "/api/integrations/search-console/callback": {
      "get": {
        "tags": ["Reporting"],
        "summary": "Complete Search Console OAuth",
        "operationId": "searchConsoleCallback",
        "parameters": [
          {"name": "code", "in": "query", "required": true, "schema": {"type": "string"}},
          {"name": "state", "in": "query", "required": true, "schema": {"type": "string"}}
        ],
        "responses": {
          "303": {"description": "Redirect to the dashboard after connection"},
          "400": {"$ref": "#/components/responses/BadRequest"},
          "500": {"$ref": "#/components/responses/InternalError"}
        },
        "security": []
      }
    },
    "/api/sites/{siteId}/visitors": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "List anonymous visitors",
        "operationId": "listVisitors",
        "responses": {
          "200": {
            "description": "Anonymous site-scoped visitors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Visitor"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive first date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive last date"
          }
        ]
      }
    },
    "/api/sites/{siteId}/visitors/{visitorId}": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Get an anonymous visitor timeline",
        "operationId": "getVisitorTimeline",
        "responses": {
          "200": {
            "description": "Visitor timeline",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TimelineEvent"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "visitorId",
            "in": "path",
            "required": true,
            "description": "Site-scoped anonymous visitor ID",
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/events": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "List analytics events",
        "operationId": "listEvents",
        "responses": {
          "200": {
            "description": "Sanitized events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Event"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive first date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive last date"
          }
        ]
      }
    },
    "/api/sites/{siteId}/goals": {
      "get": {
        "tags": [
          "Goals"
        ],
        "summary": "List goals",
        "operationId": "listGoals",
        "responses": {
          "200": {
            "description": "Goals",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Goal"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Goals"
        ],
        "summary": "Create a goal",
        "operationId": "createGoal",
        "responses": {
          "201": {
            "description": "Goal created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Goal"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoalInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/goals/{goalId}": {
      "delete": {
        "tags": [
          "Goals"
        ],
        "summary": "Delete a goal",
        "operationId": "deleteGoal",
        "responses": {
          "204": {
            "description": "Goal deleted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "goalId",
            "in": "path",
            "required": true,
            "description": "Goal UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/export.csv": {
      "get": {
        "tags": [
          "Reporting"
        ],
        "summary": "Export events as CSV",
        "operationId": "exportEvents",
        "responses": {
          "200": {
            "description": "CSV event export",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive first date"
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "Inclusive last date"
          }
        ]
      }
    },
    "/api/sites/{siteId}/stream": {
      "get": {
        "tags": [
          "Real time"
        ],
        "summary": "Stream live events with SSE",
        "operationId": "streamEvents",
        "responses": {
          "200": {
            "description": "Server-sent event stream",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "401": {
            "description": "Authentication required or invalid/expired credential",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Native EventSource authentication uses the short-lived session JWT in the token query parameter because EventSource cannot set an Authorization header. Personal API tokens are intentionally rejected here and must never be placed in URLs.",
        "security": [
          {
            "sessionQuery": []
          }
        ],
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "description": "Site UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Short-lived JWT for native EventSource clients that cannot set Authorization"
          },
          {
            "name": "lastEventId",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ]
      }
    },
    "/api/collect/{writeKey}": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Test a collection endpoint",
        "operationId": "testCollector",
        "responses": {
          "200": {
            "description": "Non-ingesting diagnostic response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "writeKey",
            "in": "path",
            "required": true,
            "description": "Site collection write-key UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Collection"
        ],
        "summary": "Collect a browser analytics event",
        "operationId": "collectEvent",
        "responses": {
          "202": {
            "description": "Event accepted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Uses the collection write key and Origin validation, not account authentication.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "writeKey",
            "in": "path",
            "required": true,
            "description": "Site collection write-key UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "options": {
        "tags": [
          "Collection"
        ],
        "summary": "Collector CORS preflight",
        "operationId": "collectorPreflight",
        "responses": {
          "204": {
            "description": "CORS preflight accepted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "writeKey",
            "in": "path",
            "required": true,
            "description": "Site collection write-key UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      }
    },
    "/api/e/{writeKey}": {
      "get": {
        "tags": [
          "Collection"
        ],
        "summary": "Test the neutral collection alias",
        "operationId": "testNeutralCollector",
        "responses": {
          "200": {
            "description": "Non-ingesting diagnostic response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "security": [],
        "parameters": [
          {
            "name": "writeKey",
            "in": "path",
            "required": true,
            "description": "Site collection write-key UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "Collection"
        ],
        "summary": "Collect through the neutral alias",
        "operationId": "collectNeutralEvent",
        "responses": {
          "202": {
            "description": "Event accepted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "403": {
            "description": "Credential lacks permission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal service error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "415": {
            "description": "Request Content-Type is not application/json",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "422": {
            "description": "JSON body could not be deserialized",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectInput"
              }
            }
          }
        },
        "parameters": [
          {
            "name": "writeKey",
            "in": "path",
            "required": true,
            "description": "Site collection write-key UUID",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ]
      },
      "options": {
        "tags": [
          "Collection"
        ],
        "summary": "Neutral collector CORS preflight",
        "operationId": "neutralCollectorPreflight",
        "responses": {
          "204": {
            "description": "CORS preflight accepted"
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                },
                "example": "Failed to deserialize path parameters"
              }
            }
          },
          "403": {
[...]
